@import "tailwindcss";

@theme {
  --color-present: #1B5E20;
  --color-present-light: #E8F5E9;
  --color-absent: #D32F2F;
  --color-absent-light: #FFEBEE;
  --color-late: #A18800;
  --color-late-light: #FFFDE7;
}
